<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章信息</title>

    <link rel="stylesheet" href="../../style/employee.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">



</head>
<body>
<div class="container">
    <table class="table table-bordered text-striped table-hover">
        <thead>
        <tr>

        </tr>
        <tbody id="dataBody">

        </tbody>

    </table>

</div>

<script src="../../scripts/document/document.js"></script>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>