body{
     margin: 0;
     padding: 0;
 }

.box1{
    width:100%;
    height: 240px;
    text-align: center ;
}
.box1 h2{
    padding: 42px 0 10px;
    font-size: 46px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 36px;
}
.box1 p{
    padding: 0 0 69px;
    font-size: 18px;
    line-height: 36px;
}
.screen2-bg {
    margin: 0 auto;
    width: 70%;
    height: 500px;
    background: url("http://l.bst.126.net/rsc/img/loginopen/201406/appstore/dashboard.jpg?v=002") no-repeat center top;
    background-size: cover ;
}
.screen2-icon{
    width: 75%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.icon1{
    height: 300px;
    width: 480px;
    padding-top: 40px;
}
.icon1 h3{
    text-align: center ;
    font-size: 30px;
}
.icon1 p{
    font-size: 14px;
    line-height: 28px;
    text-align: left;
}
.icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    left: 200px;
}
.icona {
    background: url(http://reso.bixiuko.com/shgu/proj/proj1/icons-spt.png) no-repeat 0 0;
}

.screen2-B-bg{
    height: 630px;
    background: url("/jsc/images/quanzi.jpg") no-repeat center top;
    background-size: cover ;
}
.srceen2-B{
    background-color: #ededef;
}
.screen3 .screen3-bg1,.screen3-bg2{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: #444;
    margin-bottom:80px;
}
.screen3 .screen3-bg1,.screen3-bg2 h2{
    padding: 72px 0 16px;
    font-size:46px;
    letter-spacing: 2px;
    line-height: 56px;
}
.screen3 .screen3-bg1 img{
    margin-top: 20px;
}
.screen3 .screen3-bg1,.screen3-bg2 p{
    line-height:36px;
    text-align: center;
    font-size:18px;
}
.screen3 .screen3-bg2{
    background: #f7f7f7;
    width: 100%;
    height: auto;
}
.screen3 .screen3-bg2 a{
    text-decoration: none;
    cursor: pointer;
    color: #7594b3;
    font-size:20px;
    margin:10px 0;
}
.screen3 .screen3-bg2 .special{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.screen3 .screen3-bg2 .special li{
    width: 400px;
    display: flex;
}